{% extends "base.html" %}

{% block content %}
    <body>
        <h1>Пейзажи Марса</h1>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for file_number in range(length) %}
                    {% if file_number == 0 %}
                        <div class="carousel-item active" data-bs-interval="2000">
                          <img src="/static/images/{{ files[file_number] }}" class="d-block w-100" width="500" height="500"
                               alt="Изображение не найдено">
                        </div>
                    {% else %}
                        <div class="carousel-item" data-bs-interval="2000">
                          <img src="/static/images/{{ files[file_number] }}" class="d-block w-100" width="500" height="500"
                               alt="Изображение не найдено">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
        <form action="" method="post" novalidate enctype="multipart/form-data">
           <div class="form-group">
                <label for="photo">Выберите файл</label>
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </body>
{% endblock %}